:root {
  font-size: 16px;
}

main {
  padding: 0px 200px;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  scroll-behavior: smooth;
}

.navbar {
  font-family: 'Raleway';
  font-size: 1em;
  padding: 35px 35px;
  display: flex;
  justify-content: space-between;
}

.presentation-container {
  height: calc(100vh - 1.5em - 70px);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  .title {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 5em;
    text-wrap: balance;
  }
  
  .description {
    font-weight: 300;
    opacity: 0.7;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    transition: all 0.1s ease-in-out;
  }

  a:hover {
    translate: -1px -1px;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.5));
  }

  a:active {
    translate: 0px 0px;
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
  }
}

.arrow {
  margin-left: 5px;
  position: relative;
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  from {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 0.3;
    top: 10px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.about {
  height: 300vh;
  padding-top: 50px;
  position: relative;
 
  .left {
    position: sticky;
    top: 20vh;
    width: 100%;
  }

  .title {
    font-weight: 200;
    font-family: 'Raleway';
    font-size: 2em;
    letter-spacing: 0.3rem;
  }

  .text {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 60%;

    p {
      font-weight: 400;
      text-wrap: pretty;
      display: flex;
      flex-wrap: wrap;

      .word {
        margin-right: 9px;
        margin-top: 0px;
      }
    }
  }
  
  .right {
    position: absolute;
    width: 40%;
    top: -20vh;
    height: 100vh;
    right: 0;

    div {
      display: flex;
      justify-content: flex-end;
    }

    svg {
      width: 40%;
      height: 100vh;
    }
  }
}

canvas {
  height: 100%;
  width: 100%;
}

.draw {
  position: absolute;
  right: 10vh;
  top: 24vh;
}

.path {
  stroke-dasharray: var(--PATH_LENGTH);
  stroke-dashoffset: var(--PATH_LENGTH);
  animation: dash 2500ms linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.footer {
  height: 100vh;
  background-color: black;
  display: flex;

  .text {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px;
    font-family: 'Raleway';
    letter-spacing: 0.05em;
    text-align: center;

    p {
      text-wrap: pretty;
      font-weight: 400;
    }

    h1 {
      font-size: 4em;
      text-wrap: balance;
      font-weight: 300;
    }
  }


  .form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 120px;
    gap: 20px;
    position: relative;

    p {
      color: white;
      font-family: 'Raleway';
      font-size: 2em;
      font-weight: 300;
      width: 60%;
      text-wrap: balance;
      text-align: center;
    }

    p::selection {
      background-color: white;
      color: black;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 80px;
      width: 100%;

      .form-inputs {
        width: 60%;
        background: transparent;
        outline: none;
        border: 0;
        border-bottom: 1px solid white;
        padding: 5px 5px 10px 5px;
        color: white;
        font-family: 'Raleway';
        font-size: 1em;
        resize: vertical;
        transition: border 300ms;
      }

      .form-inputs::selection {
        background-color: white;
        color: black;
      }

      .form-inputs:focus {
        border-bottom: 1px solid gray;
      }

      textarea {
        max-height: 50%;
      }

      button {
        background: transparent;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.5em;
        font-weight: 300;
        font-family: 'Raleway';
        gap: 15px;
        cursor: pointer;
        border: 0;
        transition: all 200ms ease;

        svg {
          rotate: -90deg;
        }

      }

      button:hover {
        opacity: 0.5;
      }
 
    }

    a {
        color: white;
        position: absolute;
        bottom: 5%;
        right: 10%;
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: 200;
        font-family: 'Raleway';
        gap: 15px;
        cursor: pointer;
        transition: all 200ms ease;
        opacity: 0.6;
    }

    a:hover {
      opacity: 1;
    }

  }

}

.section-projects {
  height: 200vh;
}

.section-folders {
    position: relative;
    margin: 0;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.container-folders {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 90%;
  height: 100px;
  position: relative;
  bottom: 100px;
}

.cover-folders {
  position: absolute;
  height: 150px;
  width: 110%;
  background-color: white;
  border: 1px solid black;
  bottom: -120px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2em;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.2em;
  }
}