:root {
  font-size: 16px;
}

main {
  position: relative;
  padding: 0px 200px;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  box-shadow: 0px 0px 50px 0px black;
  z-index: 1;
}

body {
  scroll-behavior: smooth;
}

.navbar {
  font-family: 'Raleway';
  font-size: 1em;
  padding: 35px 35px;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  a {
    z-index: 10;
    transition: all 0.2s ease;
  }

  .link {
    position: relative;
  }

  .link::after {
    content: '';
    height: 2px;
    width: 4px;

    position: absolute;
    background-color: black;
    bottom: 8px; 
    left: 50%;
    transition: transform 0.3s ease; 
  }

  .link:hover::after {
    transform: scaleX(4);
  }

  svg line {
    transition: all 0.2s ease;
  }

  svg:hover line {
    stroke-width: 8;
  }

  svg:active line {
    stroke-width: 0;
  }
}

.presentation-container {
  height: calc(100vh - 1.5em - 70px);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  .title {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 5em;
    text-wrap: balance;
  }
  
  .description {
    font-weight: 300;
    opacity: 0.7;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    transition: all 0.1s ease-in-out;
  }

  a:hover {
    translate: -1px -1px;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.5));
  }

  a:active {
    translate: 0px 0px;
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
  }
}

.arrow {
  margin-left: 5px;
  position: relative;
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  from {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 0.3;
    top: 10px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.about {
  height: 300vh;
  padding-top: 50px;
  position: relative;
 
  .left {
    position: sticky;
    top: 20vh;
    width: 100%;
  }

  .title {
    font-weight: 200;
    font-family: 'Raleway';
    font-size: 2em;
    letter-spacing: 0.3rem;
  }

  .text {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 60%;

    p {
      font-weight: 300;
      font-size: 1em;
      text-wrap: pretty;
      display: flex;
      flex-wrap: wrap;

      .word {
        margin-right: 9px;
        margin-top: 0px;
      }
    }
  }
  
  .right {
    position: absolute;
    width: 40%;
    top: -20vh;
    height: 100vh;
    right: 0;

    div {
      display: flex;
      justify-content: flex-end;
    }

    svg {
      width: 40%;
      height: 100vh;
    }
  }
}

canvas {
  height: 100%;
  width: 100%;
}

.draw {
  position: absolute;
  right: 10vh;
  top: 24vh;
}

.path {
  stroke-dasharray: var(--PATH_LENGTH);
  stroke-dashoffset: var(--PATH_LENGTH);
  animation: dash 2500ms linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.footer {
  height: 100vh;
  background-color: black;
  display: flex;
  z-index: 2;

  .text {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px;
    font-family: 'Raleway';
    letter-spacing: 0.05em;
    text-align: center;

    p {
      text-wrap: pretty;
      font-weight: 400;
    }

    h1 {
      font-size: 4em;
      text-wrap: balance;
      font-weight: 300;
    }
  }


  .form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 120px;
    gap: 20px;
    position: relative;

    .icons-in-form {
      display: none;
      justify-content: center;
      align-items: center;
      height: auto;
      gap: 20px;
      
      a {
        position: relative;
      }
    }

    p {
      color: white;
      font-family: 'Raleway';
      font-size: 2em;
      font-weight: 300;
      width: 60%;
      text-wrap: balance;
      text-align: center;
    }

    p::selection {
      background-color: white;
      color: black;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 80px;
      width: 100%;

      .form-inputs {
        width: 60%;
        background: transparent;
        outline: none;
        border: 0;
        border-bottom: 1px solid white;
        padding: 5px 5px 10px 5px;
        color: white;
        font-family: 'Raleway';
        font-size: 1em;
        resize: vertical;
        transition: border 300ms;
      }

      .form-inputs::selection {
        background-color: white;
        color: black;
      }

      .form-inputs:focus {
        border-bottom: 1px solid gray;
      }

      textarea {
        max-height: 50%;
      }

      button {
        background: transparent;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.5em;
        font-weight: 300;
        font-family: 'Raleway';
        gap: 15px;
        cursor: pointer;
        border: 0;
        transition: all 200ms ease;

        svg {
          rotate: -90deg;
        }
      }

      button:hover {
        opacity: 0.5;
      }
 
    }

    a {
        color: white;
        position: absolute;
        bottom: 5%;
        right: 10%;
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: 200;
        font-family: 'Raleway';
        gap: 15px;
        cursor: pointer;
        transition: all 200ms ease;
        opacity: 0.6;
    }

    a:hover {
      opacity: 1;
    }

  }

}

.section-projects {
  height: 120vh;
  position: relative;
  z-index: 0;
}

.section-folders {
    position: sticky;
    top: -10vh;
    margin: 0;
    background-color: var(--bg-color);
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.container-folders {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  width: 90%;
  height: 100px;
  position: relative;
  bottom: 100px;
  z-index: -100;
}

.cover-folders {
  position: absolute;
  height: 150px;
  width: 110%;
  background-color: white;
  border: 1px solid black;
  bottom: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  h1 {
    font-size: 2em;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.2em;
  }
}

.line-projects {
  position: absolute;
  top: -120px;
  left: 250px;
}

.animate-path {
  stroke-dasharray: var(--LINE_PATH_LENGTH);
  stroke-dashoffset: var(--LINE_PATH_LENGTH);
  animation: dash 3000ms linear forwards;
}

.navbar-responsive {
  position: fixed;
  display: none;
  z-index: 1;
  width: 180px;
  top: 3em;
  left: 43%;
  opacity: 0.8;

  a {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 4px;
  }
  
  .link.work {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
    transform-origin: right;
  }

  .link.contact {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
    transform-origin: left;
  }

  .link {
    width: 40%;
    font-size: 0.8em;
    transition: background-color 0.2s ease;
  }

  .link:hover {
    background-color: rgb(235, 235, 235);
  }

  #home-link {
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform-origin: top;
  }

  svg line {
    transition: all 0.2s ease;
  }

  svg:hover line {
    stroke-width: 8;
  }

  svg:active line {
    stroke-width: 0;
  }
}

.navbar-responsive:hover {
  opacity: 1;
}

/*

==========================================================================

Responsive

==========================================================================

*/

@media (max-width: 1440px) {
  :root {
    font-size: 15px;
  }

  main {
    padding: 0px 150px;
  }

  .line-projects {
    left: 260px;
  }

  .draw {
    svg {
      width: 600px;
      
    }
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }

  main {
    padding: 0px 100px;
  }

  .line-projects {
    top: -110px;
    left: 300px;
  }

  .draw {
    svg {
      width: 500px;     
    }
  }

  .footer {
    .text {
      padding: 60px;
    }

    .form {
      padding: 100px;
    }
  }

}

@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }

  main {
    padding: 0px 80px;
  }

  .line-projects {
    top: -40px;
    left: 20%;
  }

  .draw {
    top: 20vh;
  
    svg {
      width: 400px;
      
    }
  }

  .footer {
    .text {
      padding: 40px;
    }

    .form {
      padding: 60px;
    }
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }

  main {
    padding: 0px 40px;
  }

  .draw {
    top: 20vh;
  
    svg {
      width: 400px;
      
    }
  }

  .footer {
    .text {
      padding: 40px;
    }

    .form {
      padding: 60px;
    }
  }

  .presentation-container {
    width: 80%;
  }

  .draw {
    top: 30vh;
  
    svg {
      width: 300px;  
    }
  }

  .about {
    .text {
      width: 80%;
    }
  }

  .navbar-responsive {
    left: 40%;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 10px;
  }

  main {
    padding: 0px 5px;
  }

  .line-projects {
    height: 400px;
  }

  .draw {
    top: 20vh;
    left: 20vw;
  
    svg {
      width: 200px;
      
    }
  }

  .footer {
    .text {
      display: none;
    }

    .form {
      width: 100%;
      padding: 20px;

      .icons-in-form {
        display: flex;
      }
    }
  }

  .presentation-container {
    width: 80%;
  }

  .draw {
    top: 30vh;
  
    svg {
      width: 300px;  
    }
  }

  .about {
    .text {
      width: 100%;
    }
  }

  .navbar-responsive {
    left: 30%;
  }
}